$primary-color: #39CDCC;
$font-family: 'Sen', sans-serif;


.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .input-field {
    width: 100%;
    min-width: 350px;
    padding: 8px;
    font-size: 1em;
    border: 2px solid #545F7D26;
    border-radius: 5px;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.12px;
    text-align: left;
    color: #545F7D;
  

    &:focus {
        border: 2px solid $primary-color;
    }
  }
  
  .icon {
    width: 35px;
    height: 100%;
    background-color: $primary-color;
    position: absolute;
    right: 0px;
    z-index: 999;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 5px 5px 0px;
  
    &.left {
      left: 10px;
      right: auto;
    }
  }
  
  .visibility-toggle {
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    color: $primary-color;
    font-family: $font-family;
    font-size: 12px;
    font-weight: 600;
    line-height: 16.39px;
    letter-spacing: 0.1em;
  }
  