@import "../../styling/modules/mixin";
@import "../../styling/modules/variables";

.users-wrapper{
    min-height: 100vh;
}


.table-container {
    position: relative;
    width: 100%;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 3px 5px 20px 0px #0000000A;
    padding: 10px;    
}

.filter-tab, .user-tab {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: minmax(120px, 1fr) repeat(6, minmax(100px, 1fr));
    gap: 15px;

    
    .filter-option {
        padding: 10px 0;
        @include flexbox( $justify: start, $align: center);
        gap: 15px; 
        cursor: pointer;
    }

    .email  {
        //There are 6 columns, how I make .email and .date-joined have 1.5 column
        grid-column: span 2 / span 2;
    }
        .filter-text{
            font-family: $primaryFont;
            color: $grayColor;
            font-size: 12px;
            font-weight: 600;
            line-height: 14.08px;
            text-align: left;
            text-transform: uppercase;


        }

        .users-text{
            padding: 10px 0;
            font-family: $primaryFont;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.42px;
            text-align: left;
            text-transform: capitalize;
        }

    
}

.user-tab {
    border-bottom: #213F7D1A solid 0.5px;
}

.user-tab:last-child{
    border-bottom: none;
}

.pagination-wrapper {
    @include flexbox($align:center, $justify: end);
    gap: 10px;
    // padding: 15px 0;
    padding-bottom: 10vh;

    .page-number {
        font-family: $primaryFont;
        color: $grayColor;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.77px;
        text-align: left;
        opacity: .5;
        cursor: pointer;

    }
    
    .active{
        opacity: 1;
    }


    .btn{
        cursor: pointer;
    }
}