$primary: #39cdcc;
$white: #ffffff;
$activeColor: #213f7d;
$grayColor: #545f7d;
$danger: #e4033b;
$warning: #e9b200;
$success: #39cd62;


//Fonts
$primaryFont: "Work Sans", sans-serif;
$secondaryFont: "Maven Pro", sans-serif;